<!DOCTYPE html>
<html lang="en" ng-app="lintplus">
<head>
    <meta charset="UTF-8">
    <title>lint-plus</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body ng-controller="appCtrl">
<ul id="nav">
    <li>
        <a title="快速开始" target="_blank" href="https://github.com/xgfe/lint-plus/blob/master/README.md">Get Start</a>
    </li>
    <li>
        <a title="配置文件说明" target="_blank" href="https://github.com/xgfe/lint-plus/blob/master/docs/config.md">Config Docs</a>
    </li>
    <li>
        <a title="开发者文档" target="_blank" href="https://github.com/xgfe/lint-plus/blob/master/docs/guide.md">Developer Guide</a>
    </li>
    <li class="git-star">
        <iframe width="160px" height="30px" src="https://ghbtns.com/github-btn.html?user=xgfe&repo=lint-plus&type=star&count=true" frameborder="0" scrolling="0"></iframe>
    </li>
</ul>
<div class="forkme" ng-if="showForkme">
    <a target="_blank" title="fork me on github" href="https://github.com/xgfe/lint-plus">
        <img src="assets/image/forkme.png" alt="Fork Me on Github"/>
    </a>
</div>
<div id="fullpage" fullpage>
    <div class="section" id="home_page">
        <div class="inner-content">
            <h1>lint-plus</h1>
            <h2>Front-end code checking tool</h2>
            <div class="button-group">
                <a class="view-button" href="http://github.com/xgfe/lint-plus">Code on Github</a>
                <a class="build-button" href="#html_config">Build Config</a>
                <a class="build-button" href="javascript:;" read-file="readFileHandler($file.content)">Parse Config</a>
            </div>
            <h3 class="thanks">
                Thanks:
                <a target="_blank" class="thanks-eslint" href="http://eslint.org/">
                    <img src="./assets/image/eslint_logo.svg" alt="ESLint_logo"/>ESLint</a>
                <a target="_blank" class="thanks-fecs" href="http://fecs.baidu.com">
                    <img src="./assets/image/fecs_logo.png" alt="fecs_logo"/>FECS</a>
            </h3>
            <small class="copyright">&copy;&nbsp;xgfe 2016</small>
        </div>
    </div>
    <div ng-controller="htmlConfigCtrl" id="html_config" class="section">
        <div class="html-desc tool-desc">
            <h1>HTML规则配置 <span class="fold" fold></span></h1>
            <section>
                lint-plus使用的HTML代码检查工具是<a href="http://github.com/y8n/xg-htmlhint">xg-htmlhint</a>，是xgfe团队基于Node.JS开发的HTML代码风格检查工具，支持命令行和脚本引入使用。检查规则可以通过配置文件进行配置且支持自定义规则。
            </section>
        </div>
        <div class="html-rules tool-rules">
            <div class="rule-list" ng-class="collection.className" ng-repeat="collection in collections">
                <h2>{{collection.label}}</h2>
                <ul>
                    <li ng-repeat="rule in htmlRules track by $index" class="rules-item" ng-if="rule.collection === collection.className">
                        <label class="i-checks">
                            <input type="checkbox" ng-model="rule.enable" ng-disabled="disableStatus.disableHTML">
                            <i></i>
                            <a target="_blank" title="点击查看详情" ng-href="{{rule.href}}">{{rule.id}}</a>:
                            <span class="rule-desc">{{rule.desc}}</span>
                        </label>
                        <div class="clearfix" ng-if="rule.options.length > 0 && rule.enable">
                            <div class="rule-option">
                                <label>可选值:</label>
                                <select ng-options="option for option in rule.options"
                                        ng-model="rule.selected">
                                </select>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="config-footer">
                <label class="i-checks">
                    <input type="checkbox" ng-model="disableStatus.disableHTML">
                    <i></i>禁用HTML检查
                </label>
                <label class="i-checks">
                    <input ng-disabled="disableStatus.disableHTML" ng-change="selectAllHandler()" type="checkbox" ng-model="selectAll">
                    <i></i>全选
                </label>
                <button ng-disabled="disableStatus.disableHTML" type="button" title="恢复默认配置" class="reset" ng-click="resetToDefault()">恢复默认</button>
            </div>
        </div>
    </div>
    <div id="css_config" ng-controller="cssConfigCtrl" class="section">
        <div class="css-desc tool-desc">
            <h1>CSS规则配置 <span class="fold" fold></span></h1>
            <section>
                <a href="http://github.com/xgfe/xg-csshint">xg-csshint</a>是基于postcss的CSS代码规范检查工具，基于<a href="https://github.com/xgfe/codeguide/blob/master/css.md">CSS编码规范</a>，具有使用灵活性强，可配置性高，错误定位精准等特点，是行走江湖、开发必备的工具。
            </section>
        </div>
        <div class="css-rules tool-rules">
            <div class="rule-list" ng-class="collection.className" ng-repeat="collection in collections">
                <h2>{{collection.label}}</h2>
                <ul>
                    <li ng-repeat="rule in cssRules" class="rules-item" ng-if="rule.collection === collection.className">
                        <label class="i-checks">
                            <input type="checkbox" ng-model="rule.enable" ng-disabled="disableStatus.disableCSS"><i></i>
                            <a target="_blank" title="点击查看详情" ng-href="{{rule.href}}">{{rule.id}}</a>:
                            <span class="rule-desc">{{rule.desc}}</span>
                        </label>
                        <!--<div class="clearfix">
                            <div class="rule-option" ng-if="rule.enable">
                                <label for="cssErrorLevel">提示级别:</label>
                                <select ng-model="rule.selected.level"
                                        id="cssErrorLevel" convert-to-number>
                                    <option value="{{level.val}}" ng-repeat="level in levels">{{level.meaning}}</option>
                                </select>
                            </div>
                            <div class="rule-option" ng-if="rule.enable" ng-repeat="option in rule.options">
                                <label title="{{option.desc}}">{{option.name}}:</label>
                                <input class="option-value" min="0" type="{{option.type}}" ng-model="rule.selected[option.name]"/>
                            </div>
                        </div>-->
                    </li>
                </ul>
            </div>
            <div class="config-footer">
                <label class="i-checks">
                    <input type="checkbox" ng-model="disableStatus.disableCSS">
                    <i></i>禁用CSS检查工具
                </label>
                <label class="i-checks">
                    <input ng-disabled="disableStatus.disableCSS" ng-change="selectAllHandler()" type="checkbox" ng-model="selectAll">
                    <i></i>全选
                </label>
                <button ng-disabled="disableStatus.disableCSS" type="button" title="恢复默认配置" class="reset" ng-click="resetToDefault()">恢复默认</button>
            </div>
        </div>
    </div>
    <div id="js_config" class="section" ng-controller="jsConfigCtrl">
        <div class="js-desc tool-desc">
            <h1>JS规则配置 <span class="fold" fold></span></h1>
            <section>
                ESLint是由Nicholas C. Zakas编写的一个Javascript的验证工具，不仅可以检验Javascript错误，也可以进行代码风格检测。
                ESLint主要有以下特点：(1) 默认规则包含所有JSLint、JSHint中存在的规则，易迁移到ESLint(2) ESLint相比于JSLint、JSHint，更加灵活强大，规则可配置性很高(3) 包含代码风格检测的规则(4) 支持插件扩展、自定义规则
            </section>
        </div>
        <div class="js-rules tool-rules">
            <div class="rule-list" ng-class="collection.className" ng-repeat="collection in collections">
                <h2>{{collection.label}}</h2>
                <ul>
                    <li ng-repeat="rule in jsRules" class="rules-item" ng-if="rule.collection === collection.className">
                        <label class="i-checks">
                            <input type="checkbox" ng-model="rule.enable" ng-disabled="disableStatus.disableJS"><i></i>
                            <a target="_blank" title="点击查看详情" ng-href="{{rule.href}}">{{rule.id}}</a>:
                            <span class="rule-desc">{{rule.desc}}</span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="config-footer">
                <label class="i-checks">
                    <input type="checkbox" ng-model="disableStatus.disableJS">
                    <i></i>禁用JS检查工具
                </label>
                <label class="i-checks">
                    <input ng-disabled="disableStatus.disableJS" ng-change="selectAllHandler()" type="checkbox" ng-model="selectAll">
                    <i></i>全选
                </label>
                <label class="i-checks">
                    <input ng-disabled="disableStatus.disableJS" ng-change="selectRecommendedHandler()" type="checkbox" ng-model="selectRecommended">
                    <i></i>启用推荐配置
                </label>
                <button ng-disabled="disableStatus.disableJS" type="button" title="恢复默认配置" class="reset" ng-click="resetToDefault()">恢复默认</button>
            </div>
        </div>
    </div>
</div>
<div id="download">
    <a ng-show="showForkme" href="javascript:;" title="点击下载配置文件"
       ng-click="downloadConfigHandler($event)">下载配置文件</a>
</div>
<div title="Top" scroll-top class="scroll-top" style="display: none;"></div>
<script type="text/ng-template" id="previewConfig.html">
    <div class="modal-header">
        <h3 class="modal-title">配置预览</h3>
    </div>
    <div class="modal-body">
        <pre><code>{{config | json}}</code></pre>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{okText || '确定'}}</button>
        <button class="btn btn-default" ng-click="cancel()">{{cancelText || '取消'}}</button>
    </div>
</script>
<script type="text/ng-template" id="error.html">
    <div class="modal-header">
        <h3 class="modal-title">配置文件错误</h3>
    </div>
    <div class="modal-body">
        文件内容解析失败
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>
<script src="assets/js/lib.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>