<!DOCTYPE html>
<html lang="en" ng-app="lintplus">
<head>
    <meta charset="UTF-8">
    <title>lint-plus</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body ng-controller="appCtrl">
<ul id="nav">
    <li data-menuanchor="home" ng-class="{active:isHomePage}">
        <a title="首页" href="#home">Home</a>
    </li>
    <li>
        <a title="快速开始" target="_blank" href="https://github.com/xgfe/lint-plus/blob/master/README.md">Get Start</a>
    </li>
    <li>
        <a title="配置文件说明" target="_blank" href="https://github.com/xgfe/lint-plus/blob/master/docs/config.md">Config Docs</a>
    </li>
    <li>
        <a title="开发者文档" target="_blank" href="https://github.com/xgfe/lint-plus/blob/master/docs/guide.md">Developer Guide</a>
    </li>
    <li class="git-star">
        <iframe width="160px" height="30px" src="https://ghbtns.com/github-btn.html?user=xgfe&repo=lint-plus&type=star&count=true" frameborder="0" scrolling="0"></iframe>
    </li>
</ul>
<div id="fullpage" fullpage>
    <div class="section" id="home_page">
        <h1>lint-plus</h1>
        <h2>Front-end code checking tool</h2>
        <div class="button-group">
            <a class="view-button" href="http://github.com/xgfe/lint-plus">Code on Github</a>
            <a class="build-button" href="javascript:;" ng-click="buildConfig()">Build Config</a>
        </div>
        <h3 class="thanks">
            Thanks:
            <a target="_blank" class="thanks-eslint" href="http://eslint.org/">
                <img src="./assets/image/eslint_logo.svg" alt="ESLint_logo"/>ESLint</a>
            <a target="_blank" class="thanks-fecs" href="http://fecs.baidu.com">
                <img src="./assets/image/fecs_logo.png" alt="fecs_logo"/>FECS</a>
        </h3>
        <small class="copyright">&copy;&nbsp;xgfe 2016</small>
    </div>
    <div ng-controller="htmlConfigCtrl" id="html_config" class="section" ng-sif="showHTMLConfigPage">
        <div class="html-desc">
            <h1>HTML规则配置</h1>
            <section>
                lint-plus采用的HTML代码检查工具是<a href="http://github.com/y8n/xg-htmlhint">xg-htmlhint</a>，是xgfe团队基于Node.JS开发的HTML代码风格检查工具，支持命令行和脚本引入使用。检查规则可以通过配置文件进行配置且支持自定义规则。
            </section>
        </div>
        <div class="html-rules">
            <div ng-class="collection.className" ng-repeat="collection in collections">
                <h2>{{collection.label}}</h2>
                <ul>
                    <li ng-repeat="rule in htmlRules track by $index" class="rules-item" ng-if="rule.collection === collection.className">
                        <label class="i-checks">
                            <input type="checkbox" ng-model="rule.enable">
                            <i></i>
                            <a target="_blank" title="{{rule.desc}}" ng-href="{{rule.href}}">{{rule.id}}</a>
                        </label>
                        <div class="select" ng-if="rule.options.length > 0 && rule.enable">
                            <select ng-model="rule.selected">
                                <option ng-value="{{option}}" ng-repeat="option in rule.options">{{option}}</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="select-all">
                <label class="i-checks">
                    <input ng-change="selectAllHandler()" type="checkbox" ng-model="selectAll">
                    <i></i>全选
                </label>
            </div>
            <div class="next-step">
                <button type="button" ng-click="nextStep()">下一步</button>
            </div>
        </div>
    </div>
    <div id="css_config" ng-controller="cssConfigCtrl" class="section" ng-isf="showCSSConfigPage">
        <h1>CSS config</h1>
        <button type="button" ng-click="nextStep()">下一步</button>
    </div>
    <div id="js_config" class="section" ng-isf="showJSConfigPage">
        <h1>Javascript config</h1>
    </div>
</div>
<div title="Top" scroll-top class="scroll-top" style="display: none;"></div>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/fullpage.js/jquery.fullPage.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>