/* Bad */
article[character=juliet] {
    voice-family: "Vivien Leigh", victoria, female;
}
article[character='juliet'] {
    voice-family: "Vivien Leigh", victoria, female;
}
/* Good */
article[character="juliet"] {
    voice-family: "Vivien Leigh", victoria, female;
}