.section {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 50px 50px 0 50px; }
  .section .inner-content {
    display: table-cell;
    vertical-align: middle; }

html {
  font-family: arial,helvetica; }

body {
  min-width: 1400px;
  overflow-x: auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* nav bar */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  margin: 0;
  padding-left: 50px; }
  #nav li {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 100%; }
    #nav li a {
      text-decoration: none;
      color: #000; }
  #nav li.active {
    background: rgba(0, 0, 0, 0.5);
    color: #fff; }
  #nav li.active a {
    color: #fff; }
  #nav li a, #nav li.active a {
    padding: 9px 18px;
    display: inline-block; }
  #nav .git-star {
    background: none; }
    #nav .git-star iframe {
      position: relative;
      top: 10px; }

.forkme {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }
  .forkme img {
    width: 150px;
    height: 150px; }

#home_page,
#html_config,
#css_config,
#js_config {
  overflow: hidden;
  box-sizing: border-box; }

.tool-desc {
  text-indent: 50px; }
  .tool-desc h1 {
    font-size: 3.5em; }
  .tool-desc section {
    line-height: 2;
    font-size: 25px;
    text-align: left; }
  .tool-desc a {
    text-decoration: none; }
    .tool-desc a:hover {
      text-decoration: underline;
      color: #000; }

.rule-list {
  padding-left: 50px;
  margin-top: 20px; }
  .rule-list h2 {
    margin-bottom: 10px; }
  .rule-list ul {
    list-style: none; }
  .rule-list li {
    margin: 10px 0; }
  .rule-list .rules-item a {
    font-size: 20px;
    text-decoration: none; }
    .rule-list .rules-item a:hover {
      text-decoration: underline;
      color: #000; }
  .rule-list .rules-item select {
    width: 100px;
    height: 30px;
    border: 1px solid #fff; }
  .rule-list .rule-option {
    float: left;
    margin-right: 20px;
    padding-left: 30px; }
  .rule-list .option-value {
    width: 60px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
    font-size: 16px; }
  .rule-list .rule-desc {
    font-size: 18px;
    color: #333; }

.config-footer {
  padding: 20px 50px;
  border-top: 1px solid #666;
  margin-top: 20px; }
  .config-footer label {
    margin-right: 20px; }
  .config-footer button.reset {
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px; }
    .config-footer button.reset:hover {
      color: #fff; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.scroll-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background: url(../image/top.png) no-repeat;
  width: 32px;
  height: 32px;
  cursor: pointer; }

.i-checks {
  padding-left: 20px;
  cursor: pointer;
  font-weight: normal;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px; }
  .i-checks input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    margin: 4px 0 0 -20px;
    box-sizing: border-box;
    padding: 0;
    line-height: normal; }
    .i-checks input[type="checkbox"]:checked + i {
      border-color: #23b7e5; }
    .i-checks input[type="checkbox"]:checked + i:before {
      left: 5px;
      top: 5px;
      width: 10px;
      height: 10px;
      background-color: #23b7e5; }
    .i-checks input[type="checkbox"][disabled] + i {
      border-color: #eee;
      cursor: not-allowed; }
    .i-checks input[type="checkbox"][disabled] + i:before {
      background-color: #eee; }
  .i-checks i {
    width: 20px;
    height: 20px;
    line-height: 1;
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: -20px;
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    box-sizing: content-box; }
    .i-checks i:before {
      content: "";
      position: absolute;
      left: 10px;
      top: 10px;
      width: 0;
      height: 0;
      background-color: transparent;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }

/* home page */
#home_page {
  text-align: center;
  background-color: #1BBC9B;
  color: rgba(0, 0, 0, 0.5); }
  #home_page h1 {
    font-size: 6em;
    margin: 20px; }
  #home_page h2 {
    margin: 15px; }
  #home_page .button-group a {
    text-decoration: none;
    width: auto;
    margin: 20px 5px 20px 0;
    padding: 18px 24px;
    font-size: 21px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff; }
    #home_page .button-group a:hover {
      color: #1BBC9B;
      background: #fff; }
  #home_page .thanks {
    margin: 10px; }
  #home_page .thanks-eslint, #home_page .thanks-fecs {
    text-decoration: none; }
  #home_page .thanks-eslint img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px; }
  #home_page .thanks-fecs img {
    height: 15px; }
  #home_page .copyright {
    position: absolute;
    bottom: 10px;
    color: #666; }

/* html-config */
#html_config {
  background-color: #4BBFC3;
  color: #336; }
  #html_config .reset:hover {
    background: #4BBFC3; }

#css_config {
  background-color: #7BAABE;
  color: #0F0F77; }
  #css_config .reset:hover {
    background: #7BAABE; }
