@import "font-awesome.min.css";
html{
    font-family: arial,helvetica;
    color: rgba(0,0,0,0.5);
}
*{
    margin: 0;
    padding: 0;
}
/* nav bar */
#nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}
#nav li{
    display: inline-block;
    margin: 10px;
    color: #000;
    background: #fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 100%;
}
#nav li.active{
    background: #666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
#nav li.active a {
    color: #fff;
}
#nav li a, #nav li.active a {
    padding: 9px 18px;
    display: inline-block;
}
#nav li a {
    text-decoration: none;
    color: #000;
}
#nav .git-star{
    background: none;
}
#nav .git-star iframe{
    position: relative;
    top: 10px;
}
/* home page */
#home{
    background-color: #1BBC9B;
    text-align: center;
}
#home h1{
    font-size: 6em;
    margin: 20px;
}
#home h2{
    margin: 15px;
}
.button-group a{
    text-decoration: none;
    width: auto;
    margin: 20px 5px 20px 0;
    padding: 18px 24px;
    font-size: 21px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}
.button-group a:hover{
    color: #1BBC9B;
    background: #fff;
}
#home .thanks{
    margin: 10px;
}
.thanks-eslint,.thanks-fecs{
    text-decoration: none;
}
.thanks-eslint img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    left: 7px;
}
.thanks-fecs img{
    height: 15px;
}
.copyright{
    position: absolute;
    bottom: 10px;
    color: #666;
}
/* html-config */
#html_config{
    background-color: #4BBFC3;
    text-align: center;
}
